@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ---------------------------------------------Header */

.nav-container {
    width: 100%;
}

.logo {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 125px;
}

.navbar-brand {
    width: auto;
}

.navbar-nav .nav-item .nav-link {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2rem;
    padding: 1.2rem;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover::after,
.nav-item .active::after {
    width: 60%;
    height: 1px;
    margin: auto;
    display: block;
    content: "";
    background-color: #fff;
    clear: both;
}

.navbar-toggler {
    position: absolute;
    top: 25px;
    right: 0px;
    border: none;
}