@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    /* display: flex; */
    flex-direction: column;
}

/* ---------------------------------------------General text/icons */

.general-head {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    position: relative;
    color: #fafafa;
}

.general-text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: justify;
    color: #fff;
    margin-top: 20px;
}

.general-text-1 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
}


.inline-block {
    display: inline-block;
}

.calendar-icon {
    color: #fafafa;
   font-size: 22px; 
}

/* ---------------------------------------------Header */

.nav-container {
    width: 100%;
}

.logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fafafa;
}

.navbar-nav .nav-item .nav-link:hover::after,
.nav-item .active::after {
    width: 60%;
    height: 1px;
    margin: auto;
    display: block;
    content: "";
    clear: both;
    background-color: #fff;
}

.navbar-toggler {
    position: absolute;
    top: 25px;
    right: 0px;
    border: none;
}

.section-full {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* ---------------------------------------------Nav Alert/Site Wide Alert */

.navalert-container .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: rgb(248, 248, 248);
}

.alert {
    color: #000
}

.alert-secondary {
    color: #000;
    background-color: transparent;
}

/* ---------------------------------------------WELCOME SECTION */

/* .container-welcome {
    width: 100%;
    overflow: auto;
} */

.custom-jumbotron {
    background: none;
    color: #fff;
    margin-top: 100px;
}

.intro-title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 36px;
    font-weight: 200;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr.solid {
  border-top: 1px solid #fff;
  margin-bottom: 20px;
}
.animate__fadeInDown {
    animation-duration: 3s;
}

.animate__fadeInUp {
    animation-duration: 3s;
}

.animate__fadeIn {
    animation-duration: 3s;
}

.animate__animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
} 

.btn-custom {
    background-color:  #8f8f8f;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 0.9em;
    width: 10em;
    height: 2em;
    display: inline-block;
    position: relative;
    border: 0;
    margin-top: 100px;
    padding-top: 0.3em;
}

.btn-custom:hover {
    background: #6495ED;
}

.btn-custom:hover {
    transform: scale(1.1);
}

.btn-custom-1 {
    background-color:  #8f8f8f;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 0.9em;
    width: 11em;
    height: 2em;
    display: inline-block;
    position: relative;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.3em;
}
.btn-custom-1:hover {
    background: #6495ED;
}

.btn-custom-1:hover {
    transform: scale(1.1);
}

.btn-custom-2 {
    background-color:  #8f8f8f;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 0.9em;
    width: 11em;
    height: 3em;
    display: inline-block;
    position: relative;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.3em;
}

.btn-custom-2:hover {
    background: #6495ED;
}

.btn-custom-2:hover {
    transform: scale(1.1);
}

.btn-custom-3 {
    background-color:  #8f8f8f;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 0.9em;
    height: 3em;
    display: inline-block;
    position: relative;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.3em;
}

.btn-custom-3:hover {
    background: #6495ED;
}

.btn-custom-3:hover {
    transform: scale(1.1);
}
.background-video {
    background-color:
    linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.60)),
    url('../video/arcohome1.mp4');
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    filter: brightness(27%);
}

/* ---------------------------------------------About */

.founder-pic{
    width: auto;
    height: auto;
    object-fit:scale-down;
}

.title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 200;
    color: #fff;
    margin-top: 100px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex!important;
    align-items: center!important;
  }

  .main-img {
    background-image:
    linear-gradient(to bottom, rgb(44, 44, 44), rgba(0, 0, 0, 0.6)),
    url('../images/matt1.png');
    height: 100vh;
    background-size: cover;
}

.background-img-2 {
    background-image:
    linear-gradient(to bottom, rgb(44, 44, 44), rgba(0, 0, 0, 0.6)),
    url('../images/mobo-1.png');
    height: 100vh;
    background-size: cover;
}


.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.26%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.col-md-6 {
    padding: 0 30px 30px;
}

/* ---------------------------------------------What we offer */

.responsive {
  width: 100%;
  height: auto;
}


/* ---------------------------------------------Book a Lesson */


.main-img-2 {
    background-image:
    linear-gradient(to bottom, rgb(44, 44, 44), rgba(0, 0, 0, 0.6)),
    url('../images/mattred.png');
    background-size: cover;
}


.calendar-link {
    color: #fff;
}
.question-box {
    color: #fff;
    box-sizing: border-box;
    max-height: 150px;
}

/* ---------------------------------------------Masterclasses */



/* ---------------------------------------------Modal */

.modal-title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.modal-body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

/* ---------------------------------------------Footer */

footer {
    background-color: #343a40;
    color: #fafafa;
    height: auto;
    margin-top: auto;
    padding: 10px;
}

.content-container,
.footer-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.connect-links {
    padding-bottom: 15px;
}

.connect-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.connect-links li a i:hover {
    background: #6495ED;
}

footer input[type="email"] {
    border: none;
    width: 70%;
    font-size: 0.8rem;
    border-radius: 0;
    display: inline-block;
    height: 2rem;
    background-color: #fff;
}

footer button[type="submit"] {
    background-color:  #8f8f8f;
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    width: 5em;
    height: 2em;
    display: inline-block;
    position: relative;
    border: 0;
    margin-top: 1em;
    padding-top: 0.3em;
}

footer button[type="submit"]:hover {
    background-color: #6495ED;
}

ul { 
    list-style-type: none; 
}

footer a,
footer a:hover {
    color: #fafafa;
}

footer .connect-links ul {
    line-height: 1rem;
}

footer .list-inline-item {
    font-size: 1.4rem;
}

footer .list-inline-item:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
.intro-title, .title, .general-text, .general-text-1, .alert-warning {
    font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
.intro-title {
    font-size: 18px;
    }
}